@charset "UTF-8";

/* 毛筆っぽい書体を採用 */
@font-face {
	font-family: 'MyFont';
	src: url(font/g_brushtappitsu_free_012/g_brushtappitsu_freeB.ttf);
}
body {
	font-family: MyFont;
    color: #fff;
    background-color: #000;
}
html {
    font-size: 62.5%;
}

.wrapper {
    height: 100vh;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.title {
    position: absolute;
    font-size: 12rem;
    display: table-cell;
    writing-mode: vertical-rl;
    vertical-align: middle;
}

.player {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.you {
    font-size: 15rem;
    display: table-cell;
    writing-mode: vertical-rl;
    vertical-align: middle;
}

.btn {
    font-size: 10rem;
    color: #fff;
    display: table-cell;
    writing-mode: vertical-rl;
    vertical-align: middle;
}
.btn:hover {
    color: #f00;
}
.js-gu {
    color: #fff;
}
.js-choki {
    color: #fff;
}.js-pa {
    color: #fff;
}

.oponent {
    font-size: 15rem;
    display: table-cell;
    writing-mode: vertical-rl;
    vertical-align: middle;
}

.result {
    position: absolute;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.kekka {
    position: relative;
    font-size: 15rem;
    display: table-cell;
    writing-mode: vertical-rl;
    vertical-align: middle;
}
.kekka__img {
    position: relative;
    height: 400px;
    width: auto;
}